html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#logo {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dashboard {
  width: 100%;
  height: 100%;
  background-color: aqua;
  margin: 0%;
  padding: 0%;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

#videoElement, #canvasElement {
  position: absolute;
  top: 20%;
  left: 20%;
}

#root, .App, .Router {
  width: 100%;
  height: 100%;
}

.Router {
  width: 100%;
  height: 75%;
}