html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dashboard {
  width: 95%;
  height: 95%;
  background-color: aqua;
}

Header {
  width: 100%;
}

#videoElement, #canvasElement {
  position: absolute;
  top: 20%;
  left: 20%;
}